.container {
  max-width: 1400px;
  padding: 30px 60px;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container h2 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  color: #3d3d3d;
}

.titulo-container::before {
  content: "";
  background-color: #b8b7b7;
  position: absolute;
  display: block;
  width: 4em;
  height: 0.062rem;
  left: -110px;
  top: 20px;
}

.titulo-container::after {
  content: "";
  background-color: #b8b7b7;
  position: absolute;
  display: block;
  width: 4em;
  height: 0.062rem;
  right: -110px;
  top: 20px;
}

.itens-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.item-container {
  background-color: #e3e3e3;
  width: 250px;
  height: 380px;
  border-radius: 4px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.titulo-item {
  font-size: 1.2rem;
  max-width: 12ch;
  font-weight: 500;
}

.item-preco {
  display: flex;
  gap: 30px;
  align-items: center;
}

.item-preco p {
  font-size: 1.75rem;
  font-weight: 700;
  color: #411800;
}

@media (max-width: 1300px) {
  .itens-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .introducao p {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .itens-container {
    grid-template-columns: 1fr 1fr;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .titulo-container::before,
  .titulo-container::after {
    display: none;
  }

  .container h2 {
    font-size: 1.2rem;
  }

  .item-container {
    width: 200px;
    height: 330px;
  }

  .titulo-item {
    font-size: 1rem;
  }

  .item-preco p {
    font-size: 1.2rem;
  }

  .divisor {
    margin: 40px auto;
  }
}

@media (max-width: 500px) {
  .itens-container {
    grid-template-columns: 1fr;
  }
}
