.introducao {
  max-width: 1400px;
  padding: 100px 60px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
  place-items: center;
}

.introducao-texto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: start;
}

.introducao h1 {
  font-size: 3rem;
  width: 15ch;
}

.introducao p {
  font-size: 1.2rem;
}

.introducao a {
  color: #f5f4f4;
  background-color: #914a21;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
}

.introducao a:hover {
  background-color: #8b3f12;
}

.divisor {
  justify-content: center;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 30px 30px;
  }

  .introducao-texto, .introducao {
    place-items: center;
    text-align: center;
  }

  .introducao h1 {
    font-size: 2rem;
    width: 13ch;
  }

  .introducao p {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .introducao {
    padding: 0px 10px;
  }
}
