.avaliacoes-bg {
  background-color: var(--cor-p13);
}

.avaliacoes {
  padding-top: 25px;
  color: var(--cor-c1);
}

.avaliacoes li {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avaliacoes h3 {
  padding-top: 10px;
}

.dados-avaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.avaliacoes p { 
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
}

.estrelas {
  display: flex;
  gap: 5px;
  color: #ffff00;
}

@media (max-width: 1000px) {
  .avaliacoes {
    padding-top: 5px;
  }
}

@media (max-width: 700px) {
  .avaliacoes p {
    padding-left: 50px;
    padding-right: 50px;
  }
  
}