@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  background-color: var(--cor-c1);
}


h1,
p,
h2,
h3,
article,
ul,
footer,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body::-webkit-scrollbar {
  border-right: 1px solid var(--cor-p13);
  border-left: 1px solid var(--cor-p13);
  border-radius: 1px;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-p13);
  border-radius: 5px;
  width: 1px;
}

.produtos-lista ul::-webkit-scrollbar {
  border: 1px solid var(--cor-p13);
  border-radius: 15px;
  width: 1px;
  height: 10px;
}

.produtos-lista ul::-webkit-scrollbar-thumb {
  background-color: var(--cor-p13);
  border-radius: 15px;
  width: 1px;
}



.botao-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 0px;
  color: #189915;
  font-size: 3rem;
}

